.header {
    background: $off-black;
    color: white;
    margin-bottom: $m-size;
    padding: $m-size 0;
}

.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

.header__logo {
    color: inherit;
    font-size: $l-size;
    margin: 0;
}

.header__logo > ion-icon {
    pointer-events: none;
}

.header__sbs {
    display: flex;
    justify-content: space-between;
}

.header__credits {
    display: flex;
    justify-content: end;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
    .header__logo {
        font-size: $xl-size;
    }
}